[Unit]
Description=HLS Feed From RTSP Camera
After=network.target

[Service]
ExecStart=/opt/hlsfeed/hlsfeed.sh
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
