[Unit]
Description=Derby Display Service
After=network.target 

[Service]
ExecStart=/usr/bin/python3 /opt/derbynet/files/derbydisplay.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target