[Unit]
Description=Receives race data from DerbyNet and updates the interfaces
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/derbynet/files/derbynet.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
